@media (max-width: 1439px) {

}

@media (max-width: 1200px) {
.header {
    .hamburger {
        border-radius: 50%;
        background-color: $main-color;
        width: 41px;
        height: 41px;
        padding: 5px 8.27px;
        cursor: pointer;
        span {
            display: block;
            border: 1.18px solid #fff;
            width: 24px;
            height: 0px;
            margin-top: 6px;
        }
    }
    &__nav {
        display: none;
    }
    &__btns {
        display: flex;
        gap: 38px;
    }
}

.promo {
    padding: 17px 13px 80px 10px;
    &__title {
        font-size: 32px;
    }
}
}

@media (max-width: 992px) {
    .promo {
        &__info {
            width: 100%;
        }
        &__title {
            font-size: 32px;
            margin-top: 60px;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 36px;
        }
        &__btns {
            margin-top: 60px;
        }
        &__img {
            img {
                width: 253px;
                height: 260px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__btn {
            display: none;
        }
    }
    .promo {
        flex-direction: column;
        &__info {
            order: 1;
        }
        &__title {
            font-size: 30px;
            margin-top: 60px;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 36px;
        }
        &__btns {
            justify-content: center;
            margin-top: 40px;
        }
        &__img {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__logo {
            img {
                width: 69px;
                height: 42px;
            }
            &-text {
                :nth-child(1) {
                    font-size: 11px;
                }
                :nth-child(2) {
                    font-size: 6px;
                }
                :nth-child(3) {
                    font-size: 6px;
                }
            }
        }
    }
    .promo {
        &__title {
            font-size: 28px;
            margin-top: 0;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 24px;
        }
        &__btns {
            margin-top: 40px;
            flex-wrap: wrap;
            gap: 16px;
        }
        &__btn {
            width: 100%;
        }
    }
}
