.our-team {
    margin-top: 81px;
    padding: 0 71px;
    &__item {
        display: flex;
        gap: 39px;
        &:last-child {
            margin-top: 39px;
            flex-direction: row-reverse;
            align-items: center;
            .our-team__name {
                text-align: right;
            }
            .our-team__post {
                text-align: right;
            }
        }
    }
    &__photo {
        display: block;
        width: 210px;
        height: 210px;
        object-fit: cover;
    }
    &__name {
        font-weight: 500;
        font-size: 24px;
        color: #000;
    }
    &__post {
        font-weight: 300;
        font-size: 14px;
        color: #000;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #000;
    }
}