<header class="header">
    <a href="#" class="header__logo">
        <img src="img/logo.png" alt="logo">
        <div class="header__logo-text">
            <span>ENGLISH <span>PLUS</span></span>
            <span>INTERNATIONAL EDUCATION</span>
            <span>connect.communicate.conquer</span>
        </div>
    </a>
    <nav class="header__nav">
        <a href="#" class="header__nav-item">About Us</a>
        <a href="#" class="header__nav-item">Courses</a>
        <a href="#" class="header__nav-item">Teachers</a>
        <a href="#" class="header__nav-item">Reviews</a>
        <a href="#" class="header__nav-item">Partners</a>
        <a href="#" class="header__nav-item">News</a>
        <a href="#" class="header__nav-item">FAQ</a>
        <a href="#" class="header__nav-item">Contact Us</a>
    </nav>
    <button class="btn">Enroll Now</button>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>